.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.responsiveContainer {
  width: 80%;
  max-width: 550px;
}
.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  height: 172px;
  border-radius: 16px;
  margin-top: 64px;
}
.heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.headerContent {
  color: #475569;
  font-family: 'Roboto';
  font-size: 14px;
  margin: 0px;
}
.moneyManagerText {
  color: #0b69ff;
  font-weight: 500;
}
.transactionDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}
.transactionForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 424px;
  width: 100%;
  border: 1px solid #cbd5e3;
  border-radius: 12px;
  padding: 24px 24px 32px 24px;
}
.transactionHeader {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}
.inputLabel {
  color: #7e858c;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0px;
}
.input {
  color: #1e293b;
  background-color: #ffffff;
  font-family: 'Roboto';
  border: 1px solid #d7dfe9;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  outline: none;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 157px;
}
.button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  min-width: 25px;
  border-radius: 6px;
  border: none;
  padding: 12px 24px;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}
.historyTransactions {
  width: 100%;
  min-height: 326px;
  border: 1px solid #cbd5e3;
  border-radius: 12px;
  padding: 12px 24px;
  margin-top: 32px;
}
.transactionTableContainer {
  height: 100%;
  border-radius: 8px;
}
.transactionTable {
  padding-left: 0px;
  margin: 0px;
}
.tableHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  list-style: none;
  border: 1px solid #cbd5e3;
  padding-left: 10px;
  padding-right: 10px;
}
.tableHeaderCell {
  color: #334155;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  width: 30%;
  border-right: none;
}
@media screen and (min-width: 768px) {
  .responsiveContainer {
    max-width: 1140px;
  }
  .headerContainer {
    align-items: flex-start;
    padding: 48px;
  }
  .heading {
    font-size: 30px;
  }
  .headerContent {
    font-size: 18px;
  }
  .transactionDetails {
    flex-direction: row;
  }
  .transactionForm {
    width: 40%;
    padding: 0px 43px 0px 48px;
  }
  .transactionHeader {
    font-size: 20px;
  }
  .historyTransactions {
    width: 55%;
    min-height: 424px;
    padding: 24px 41px 40px 28px;
    margin-top: 0px;
    margin-left: 32px;
  }
  .tableHeader {
    padding-left: 24px;
    padding-right: 24px;
  }
  .tableHeaderCell {
    font-size: 16px;
  }
}
