.tableRow {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid #cbd5e1;
  border-right: 1px solid #cbd5e1;
  border-left: 1px solid #cbd5e1;
  padding: 0px 10px;
}
.transactionText {
  color: #475569;
  font-family: 'Roboto';
  font-size: 12px;
  width: 30%;
}
.deleteContainer {
  display: flex;
  width: 10%;
}
.deleteButton {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.deleteImg {
  background: transparent;
  width: 20px;
  height: 20px;
  align-self: center;
  border: none;
  outline: none;
}
@media screen and (min-width: 768px) {
  .tableRow {
    padding: 0px 24px;
  }
  .transactionText {
    font-size: 14px;
  }
  .deleteImg {
    margin-right: 24px;
  }
}
